@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,500&display=swap');


/* WILDCARD */
* {
    box-sizing: border-box;
    font-family: "Raleway", "sans serif";
}

body {
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

/* NAV BAR */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 20px;
}

nav a {
    padding: 20px;
}

nav a:hover {
    border-top: 2px solid #0065fc
}

.signup {
    font-weight: bold;
    color: #0065fc;
}


.wrapper {
    padding: 0 2rem;
}

/* SEARCH-BAR */

.search-form {
    display: flex;
}

.search-form button {
    color: white;
    background-color: #0065fc;
    font-size: 1.1rem;
    font-weight: bold;
    border-radius: 0 1rem 1rem 0;
    padding: 1rem;
    border: none;
    opacity: 0.9;
    transition: transform 300ms;
}


.search-form input {
    padding-right: 2rem;
    padding-left: 1rem;
    border: 1px solid lightgray;
}

.search-form input::placeholder {
    font-weight: bold;
    font-size: 1rem;
}

.search-form i {
    display: flex;
    align-items: center;
    padding: 1rem 1.2rem;
    background-color: lightgray;
    border-radius: 1rem 0 0 1rem;
}

.search-form button:hover {
    opacity: 1;
    transform: scale(1.02);
}

/* FILTERS */

.filter-list {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
}


.filter i {
    color: blue;
    padding: 1rem;
    border-radius: 50%;
    margin: -3px;
}

.filter {
    border: 2px solid lightgray;
    border-radius: 32px;
    display: flex;
    align-items: center;
}

.filter span {
    font-weight: bold;
    padding: 1rem;
}

/* RESULT MESSAGE */

.results-message {
    display: flex;
    align-items: center;
}

.results-message i {
    color: #0065fc;
    width: 2rem;
    height: 2rem;
    border: 1px solid lightgray;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 16px;
}

/* APPARTMENT LIST */

.appartment-list {
    display: flex;
    gap: 5rem;
}

.appartment-list div {
    border-radius: 16px 16px 16px 16px;
}

.city {
    background-color: #F2F2F2;
    width: 66%;
    padding: 16px;
    margin-bottom: 3rem;
}

.popular {
    background-color: #F2F2F2;
    width: 33%;
    padding: 16px;
    margin-bottom: 3rem;
}

.best_popular {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.best_popular i {
    color: #0065fc;
}

/* APPARTEMENT CARDS */


.card_hebergement {
    box-shadow: 3px 3px 3px gray;
    width: 30%;
    background-color: white;
    display: flex;
    flex-direction: column;

}

.card_hebergement img {
    width: 100%;
    border-radius: 16px 16px 0px 0px;
    height: 8rem;
    padding: 1%;
}

.cards_marseille {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
}

.text_hebergement {
    margin-left: 16px;
    margin-bottom: 16px;

}

.cards_popular {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    margin-top: 16px;
}


.card_popular_in {
    box-shadow: 3px 3px 3px grey;
    background-color: white;
    width: 85%;
    display: flex;
}

.card_popular_in_solo {
    box-shadow: 3px 3px 3px grey;
    background-color: white;
    width: 85%;
    display: flex;

}

.card_popular_in p {
    margin-block: 0.8rem;
}

.card_popular_in img {
    width: 45%;
    border-radius: 16px 0 0 16px;
    padding: 4px;
    object-fit: cover;
    margin-right: 4%;
}

.card_popular_in_solo img {
    width: 45%;
    border-radius: 16px 0 0 16px;
    padding: 4px;
    object-fit: cover;
    margin-right: 4%;

}


.stars {
    margin-top: 4rem;
}




/* MARSEILLE ACTIVITY */

.activity_picture {
    display: flex;
    gap: 2rem;
    margin-bottom: 3rem;
}

.activity_picture img {
    width: 100%;
    overflow: hidden;
    height: 80%;
    border-radius: 16px 16px 0px 0px;
    object-fit: cover;
}

.activity_picture div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    border-radius: 16px 16px 16px 16px;
    box-shadow: 3px 3px 3px grey;
    height: 28rem;
}


/* BOTTOM  */

.bottom {
    background-color: #F2F2F2;
    display: flex;
    gap: 12rem;
    margin-left: 2rem;
    margin-right: 2rem;

}

.text_bottom {
    margin-left: 7rem;
}



/* RACCOURCI BONUS */

.blue_stars {
    color: #0065fc;
}

.grey_stars {
    color: #d9d9d9;
}

.img {
    object-fit: cover;
}


/* RESPONSIV TABLETTE */

@media screen and (max-width: 991px) {

    .appartment-list {
        flex-wrap: wrap;
        width: 100%;
    }

    .city {
        width: 100%;
    }

    .popular {
        width: 100%;

    }

    .cards_popular {
        display: flex;
        flex-direction: row;
    }

    .activity_picture {
        width: 100%;
    }

    .activity_picture img {
        object-fit: cover;
    }


    /* FILTER RESPONSIV */

    .filter-list {
        font-size: small;

    }


    /* TEST POPULAR RESPONSIVE */

    .card_popular_in {
        box-shadow: 3px 3px 3px grey;
        background-color: white;
        width: 85%;
        height: 10rem;
        display: flex;
    }

    .card_popular_in_solo {
        box-shadow: 3px 3px 3px grey;
        background-color: white;
        width: 85%;
        height: 10rem;
       display: flex;

    }


    .card_popular_in p {
        margin-block: 0.8rem;
    }

    .card_popular_in img {
        width: 45%;
        border-radius: 16px 0 0 16px;
        padding: 4px;
        object-fit: cover;
        margin-right: 4%;
    }

    .card_popular_in_solo img {
        width: 45%;
        border-radius: 16px 0 0 16px;
        padding: 4px;
        object-fit: cover;
        margin-right: 4%;

    }

/* MARSEILLE ACTIVITY */

.activity_picture div {
    height: 15rem;
}

/* BOTTOM */

.bottom {
    background-color: #F2F2F2;
    display: flex;
    gap: 12rem;
    margin-left: 2rem;
    margin-right: 15rem;

}

.text_bottom {
    margin-left: 0rem;
    display: block;

}


}

/* RESPONSIVE PHONE */

@media screen and (max-width: 600px) {


    /* NAV BAR */

    nav {
        display: block;
    }

    nav img {
        margin-left: 35%;
        margin-bottom: 3rem;
    }


    nav a:hover {
        border-bottom: 2px solid #0065fc;
        border-top: none;
    }

    h1 {
        font-size: 20px;
    }

    /* SEARCH BAR */



    /* FILTRE */

    .filter-list {
        display: block;
        width: 50%;
    }

    .filter {
        font-size: small;
    }


    /* MOST POPULAR */

    .popular {
        background-color: #F2F2F2;
        width: 100%;
        padding: 16px;
        margin-bottom: 3rem;
    }

    .best_popular {
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    .cards_popular {
        display: flex;
        flex-direction: column;
    }

    .best_popular i {
        color: #0065fc;
    }

    .card_popular_in {
        box-shadow: 3px 3px 3px grey;
        background-color: white;
        width: 100%;


    }

    .card_popular_in_solo {
        box-shadow: 3px 3px 3px grey;
        background-color: white;
        width: 100%;
        display: flex;

    }

    
    .card_popular_in p {
        margin-block: 0.8rem;
    }

    .card_popular_in img {
        width: 45%;
        border-radius: 16px 0 0 16px;
        padding: 4px;
        object-fit: cover;
        margin-right: 4%;
    }

    .card_popular_in_solo img {
        width: 45%;
        border-radius: 16px 0 0 16px;
        padding: 4px;
        object-fit: cover;
        margin-right: 4%;

    }


    .stars {
        margin-top: 4rem;
    }


    /* HEBERGEMENT MARSEILLE */



    .card_hebergement {
        box-shadow: 3px 3px 3px gray;
        width: 80%;
        background-color: white;
        display: flex;
        flex-direction: column;

    }

    .card_hebergement img {
        width: 100%;
        border-radius: 16px 16px 0px 0px;
        height: 8rem;
        padding: 1%;
    }

    .cards_marseille {
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .appartment-list div {
        border-radius: 16px 16px 16px 16px;
    }

    .city {
        background-color: #F2F2F2;
        width: 100%;
        padding: 16px;
        margin-bottom: 3rem;
    }

    /* MARSEILLE ACTIVITY */

    .activity_picture {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 2rem;
        margin-bottom: 3rem;
    }

    .activity_picture img {
        width: 100%;
        overflow: hidden;
        height: 80%;
        border-radius: 16px 16px 0px 0px;
        object-fit: cover;
    }

    .activity_picture div {
        display: flex;
        flex-direction: column;
        width: 100%;
        border-radius: 16px 16px 16px 16px;
        box-shadow: 3px 3px 3px grey;
        height: 15rem;
    }

    /* BOTTOM */

    .bottom {
        background-color: #F2F2F2;
        display: block;
        gap: 12rem;
        margin-left: 2rem;
        margin-right: 2rem;

    }





}