@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,500&display=swap');


/* WILDCARD */
* {
    box-sizing: border-box;
    font-family: "Raleway", "sans serif";

}


/* RACCOURCI BONUS */


.blue_stars {
    color: #0065fc;
}

.grey_stars {
    color: #d9d9d9;
}

img {
    object-fit: cover;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

.wrapper {
    padding: 0 20px;
}

/* NAV BAR */

#logo {
    display: block;
    padding: 40px;
    width: 75%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav_text1 {
    padding: 40px;

}

.nav_text2 {
    padding: 40px;

}

.nav_text1:hover {
    border-top: #0065fc solid 3px;
}

.nav_text2:hover {
    border-top: #0065fc solid 3px;
}

nav a {
    padding: 20px 0 0;
}

.text_nav {
    display: flex;
    justify-content: flex-end;

}


nav div {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}


nav a:hover {
    color: #0065fc;
}

.signup {
    font-weight: bold;
    color: #0065fc;
}



/* SEARCH-BAR */

.search_bar {
    padding: 0 40px;
}

.search-form {
    display: flex;
    margin-bottom: 16px;
}

.search-form button {
    color: white;
    background-color: #0065fc;
    font-size: 1.1rem;
    font-weight: bold;
    border-radius: 0 1rem 1rem 0;
    padding: 1rem;
    border: none;
    opacity: 0.9;
    transition: transform 300ms;
}

#search-icon2 {
    visibility: hidden;
}

#search-icon1 {
    display: flex;
    align-items: center;
    padding: 1rem 1.2rem;
    background-color: lightgray;
    border-radius: 1rem 0 0 1rem;
}

.search-form input {
    padding-right: 2rem;
    padding-left: 1rem;
    border: 1px solid lightgray;
}

.search-form input::placeholder {
    font-weight: bold;
    font-size: 1rem;
}


.search-form button:hover {
    opacity: 1;
    transform: scale(1.02);
}

/* FILTERS */

.filter-list {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 0 40px;
}


.filter i {
    color: blue;
    padding: 1rem;
    border-radius: 50%;
    margin: -3px;
}

.filter {
    border: 2px solid lightgray;
    border-radius: 32px;
    display: flex;
    align-items: center;
}

.filter span {
    font-weight: bold;
    padding: 1rem;
}

/* RESULT MESSAGE */

.results-message {
    display: flex;
    align-items: center;
    padding: 0 40px;
}

.results-message i {
    color: #0065fc;
    width: 2rem;
    height: 2rem;
    border: 1px solid lightgray;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 16px;
}

/* APPARTMENT LIST/ HEBERGEMENT MARSEILLE */

.appartment-list {
    display: flex;
    gap: 5rem;
    padding: 40px;
}

.text_hebergement {
    margin: auto;
}


.city {
    background-color: #F2F2F2;
    width: 66%;
    margin-bottom: 3rem;
    border-radius: 16px 16px 16px 16px;
    padding: 16px;
}

.card_hebergement {
    box-shadow: 3px 3px 3px gray;
    width: 30%;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 16px 16px 16px 16px;
}

.card_hebergement img {
    width: 100%;
    border-radius: 16px 16px 0px 0px;
    height: 8rem;
    padding: 1%;
}

.cards_marseille {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
}

.text_hebergement {
    margin-left: 16px;
    margin-bottom: 16px;
}



/* MOST POPULAR */


.popular {
    background-color: #F2F2F2;
    width: 33%;
    padding: 16px;
    margin-bottom: 3rem;
    border-radius: 16px 16px 16px 16px;
}

.best_popular {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.best_popular i {
    color: #0065fc;
}


.text_popular {
    margin-bottom: 3%;
    display: flex;
    flex-direction: column;
}


.cards_popular {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 0 16px;

}


.card_popular_in {
    box-shadow: 3px 3px 3px grey;
    background-color: white;
    width: 100%;
    display: flex;
    border-radius: 16px 16px 16px 16px;
}


.card_popular_in img {
    width: 33%;
    border-radius: 16px 0 0 16px;
    padding: 4px;
    object-fit: cover;
    margin-right: 4%;
    height: 160px;
}

.card_popular_in_solo img {
    width: 45%;
    border-radius: 16px 0 0 16px;
    padding: 4px;
    object-fit: cover;
    margin-right: 4%;
    max-height: 140px;
}

.stars {
    display: flex;
    margin-top: auto;
}

/* MARSEILLE ACTIVITY */

h3 {
    padding: 0 30px;
}

.solo_h3 {
    padding: 0 40px;
}


.activity_picture {
    display: flex;
    gap: 2rem;
    margin-bottom: 3rem;
    padding: 0 40px;
}

.activity_picture img {
    width: 100%;
    overflow: hidden;
    height: 80%;
    border-radius: 16px 16px 0px 0px;
    object-fit: cover;
}

.activity_picture div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    border-radius: 16px 16px 16px 16px;
    box-shadow: 3px 3px 3px grey;
    height: 28rem;
    font-weight: bold;
}


/* BOTTOM  */

.pad_footer {
    padding: 0 40px;
}


.bottom {
    background-color: #F2F2F2;
    display: flex;
    justify-content: center;
    padding: 16px;
}

.all_text_bottom {
    display: flex;
    flex-direction: row;
    gap: 15rem;
}


/* RESPONSIV TABLETTE */


@media screen and (max-width: 991px) {


    /* FILTER RESPONSIV */

    .filter-list {
        font-size: small;
    }

    .filter span {
        padding: 0;
        margin-right: 16px;
    }


    /* HEBERGEMENT MARSEILLE */

    .text_hebergement {
        font-size: small;
    }

    .appartment-list {
        flex-wrap: wrap;
        width: 100%;
        padding: 0 40px;
        gap: 0;
    }

    h3 {
        padding: 0;
    }

    .city {
        width: 100%;
    }

    .popular {
        width: 100%;
    }

    .cards_popular {
        display: flex;
        flex-direction: row;
    }

    .activity_picture {
        width: 100%;
    }


    /* MOST POPULAR */


    .card_popular_in {
        height: 100%;
    }

    .card_popular_in_solo {
        height: 100%;
    }

    .text_popular {
        font-size: small;
        display: flex;
        flex-direction: column;
    }

    .stars {
        display: flex;
        margin-top: auto;
    }

    /* MARSEILLE ACTIVITY */


    .activity_picture div {
        height: 15rem;
        font-size: smaller;
    }

    .activity_picture p {
        font-size: smaller;
    }


    /* BOTTOM */

    .all_text_bottom {
        gap: 4rem;
    }

}


/* RESPONSIVE PHONE */

@media screen and (max-width: 768px) {


    /* NAV BAR */

    #logo {
        width: 25%;
        padding: 0;
    }

    nav {
        display: block;
        margin-top: 16px;
        margin-bottom: 32px;
    }

    .text_nav {
        display: flex;
        justify-content: center;
        padding: 0;
        gap: 0;
        width: 100%;
    }

    .nav_text1 {
        width: 100%;
        border-bottom: #d9d9d9 solid 2px;
        padding: 16px;
    }

    .nav_text2 {
        width: 100%;
        border-bottom: #d9d9d9 solid 2px;
        padding: 16px;

    }

    .nav_text1:hover {
        border-bottom: #0065fc solid 2px;
        border-top: none;
    }

    .nav_text2:hover {
        border-bottom: #0065fc solid 2px;
        border-top: none;
    }

    .text_nav a:hover {
        color: #0065fc;
    }

    nav img {
        display: flex;
        margin: auto;
        margin-bottom: 10%;
    }

    nav div {
        display: flex;
        justify-content: center;
        font-size: 20px;
        padding: 0;
    }

    h1 {
        font-size: 20px;
    }

    /* SEARCH BAR */

    .search_bar {
        padding: 0 20px;
    }

    #search-button {
        visibility: hidden;
        display: none;
    }

    #search-icon2 {
        visibility: visible;
        color: white;
        background-color: #0065fc;
        font-size: 1.1rem;
        font-weight: bold;
        border-radius: 0 1rem 1rem 0;
        padding: 1rem;
        display: flex;
    }

    .search-form input {
        flex-grow: 1;
    }



    /* FILTRE */


    .filter-list {
        margin-bottom: 5%;
        padding: 0 20px;
    }

    h2 {
        width: 100%;
    }


    .filter span {
        padding: 0
    }

    .filter {
        width: calc(50% - 10px);
        font-size: smaller;
    }

    .results-message {
        padding: 0 20px;
    }


    /* MOST POPULAR */

    h3 {
        padding: 0 20px;
    }


    .appartment-list {
        gap: 0;
        padding: 0;
    }


    .popular {
        order: -1;
        margin: 0;
        border-radius: 0%;
        padding: 0;
    }

    .best_popular i {
        margin-right: 20px;
    }

    .cards_popular {
        display: flex;
        flex-direction: column;
        margin-bottom: 16px;
    }


    /* HEBERGEMENT MARSEILLE */

    #marseille_h3 {
        padding: 0%;
    }


    .card_hebergement {
        box-shadow: 3px 3px 3px gray;
        width: 100%;
        background-color: white;
        display: flex;
        flex-direction: column;
    }

    .city {
        background-color: white;
        padding: 0 20px;
        margin-bottom: 0px;
    }

    .text_hebergement {
        font-size: small;
    }

    /* MARSEILLE ACTIVITY */

    .solo_h3 {
        padding: 0 20px;
    }

    .activity_picture {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 2rem;
        margin-bottom: 3rem;
        padding: 0 20px;
    }

    .activity_picture img {
        width: 100%;
        overflow: hidden;
        height: 80%;
        border-radius: 16px 16px 0px 0px;
        object-fit: cover;
    }

    .activity_picture div {
        display: flex;
        flex-direction: column;
        width: 100%;
        border-radius: 16px 16px 16px 16px;
        box-shadow: 3px 3px 3px grey;
        height: 15rem;
    }

    .activity_picture p {
        margin-right: auto;
        padding: 5px;
    }

    /* BOTTOM */

    .pad_footer {
        padding: 0;
    }

    .bottom {
        justify-content: flex-start;
    }

    .all_text_bottom {
        flex-direction: column;
        gap: 0;
    }


}